* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans";
    
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;  
  color: #000;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;

}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}

.container:nth-child(6){
    animation-delay: 5s;
}






.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
position: relative;
    left: 0;
}

.right-container{
    position: relative;
    left: 50%;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100;
    }
}

.text-box h2 {
    font-weight: 600;

}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    
}
.brand {
    text-transform: uppercase;
}

header, .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 1000;
    text-decoration: none;
    
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}


header .navigation .navigation-items a:before{
    content: "";
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
width: 100%;

}

section {
    padding: 100px 200px;
}
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}

.home:before {
    z-index: 777;
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin: bottom;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}


.home .content p {
    margin-bottom: 65px;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}
.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
color: #fff;
font-size: 1.6em;
transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
 margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 1050px){
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
     }

    header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
    }
    header .navigation .navigation-items a:before{
        background: #000;
        height: 5px;

    }
    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3 ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 0.3s ease;

    }
}

@media screen and (max-width: 600px){

    .media-icons {
        top: 35%;
    }
.timeline{
    margin: 50px auto;
    
}

.timeline::after {
    left: 31px;
}
.container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
}

.text-box{
    font-size: 13px;
}
.text-box small{
    margin-bottom: 10px;
}

.right-container {
    left: 0;
}

.left-container-arrow, .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
}

}

.media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    margin-top: 21%;
    color: #fff;
}

.media-icons a{
color: #fff;
font-size: 1.6em;
transition: 0.3s ease;
}

.media-icons a:not(:last-child) {
 margin-bottom: 20px;
}
.media-icons a:hover {
    transform: scale(1.3);
}
